<h2>forgot-password Screen</h2>

<h1 *ngIf="true" class="name">Test Div</h1>

<div
  *ngFor="
    let item of arrayInput;
    let i = index;
    let isLast = last;
    let isFirst = first
  "
>
  <h1 *ngIf="isFirst">First element</h1>
  <h2>
    {{ item }} - {{ i }} - {{ "last Elem " + isLast }}
    {{ "First Elem " + isFirst }}
  </h2>

  <h1 *ngIf="isLast">Last element</h1>
</div>

<!-- <div *ngFor="let item of arrayInput1">
  <h2>{{ item }}</h2>
</div>

<div style="padding: 10px" *ngFor="let item of arrayInput3">
  <h2>{{ item }}</h2>
</div> -->
