<!-- <h1 appMoe>Test APP</h1>
<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/about">About</a></li>
</ul>
<router-outlet></router-outlet>
<div [ngClass]="false ? 'special' : 'special-false'">Div</div>
<h3 appHighlight>Highlight</h3>
<h4 [appHighlight]="'green'">Color</h4>

<div>{{ currentDate | date : "dd-MM-yyyy" }}</div> -->

<!--<app-header-1 [inputHeader]="input"></app-header-1>
<div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>-->

<app-header-1></app-header-1>
<router-outlet></router-outlet>
<app-footer></app-footer>
