<div class="wrapper">
  <form [formGroup]="formLogin" (ngSubmit)="frmSubmit()">
    <div>
      <!-- <label>User Name</label>
      <input style="padding: 10px" formControlName="userName" type="text" /> -->
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="userName" placeholder="User Name" />
        <mat-error>
          <span *ngIf="userNameCtrl?.getError('required')">
            This field is required
          </span>
          <span *ngIf="userNameCtrl?.getError('email')">
            Not a valid email address
          </span>
        </mat-error>
      </mat-form-field>

      <!-- <span
        class="error-span"
        *ngIf="
          formLogin.get('userName')?.invalid &&
          formLogin.get('userName')?.touched
        "
      >
        <span *ngIf="formLogin.get('userName')?.getError('required')">
          This field is required
        </span>
        <span *ngIf="formLogin.get('userName')?.getError('email')">
          This is not an email address
        </span>
      </span> -->

      <!-- <span
        class="error-span"
        *ngIf="userNameCtrl?.invalid && userNameCtrl?.touched"
      >
        <span *ngIf="userNameCtrl?.getError('required')">
          This field is required
        </span>
        <span *ngIf="userNameCtrl?.getError('email')">
          This is not an email address
        </span>
      </span> -->
      <!-- {{ formLogin.get("userName")?.errors | json }} -->
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <mat-error>
          <span *ngIf="passwordCtrl?.getError('required')">
            This field is required
          </span>
          <span *ngIf="passwordCtrl?.getError('minlength')">
            Min length error
          </span>
        </mat-error>
      </mat-form-field>

      <!-- <label>Password</label>
      <input style="padding: 10px" formControlName="password" type="text" /> -->
      <!-- <span
        class="error-span"
        *ngIf="
          formLogin.get('password')?.invalid &&
          formLogin.get('password')?.touched
        "
      >
        <span *ngIf="formLogin.get('password')?.getError('required')">
          This field is required
        </span>
        <span *ngIf="formLogin.get('password')?.getError('minlength')">
          Min length error
        </span>
      </span> -->

      <!-- <span
        class="error-span"
        *ngIf="passwordCtrl?.invalid && passwordCtrl?.touched"
      >
        <span *ngIf="passwordCtrl?.getError('required')">
          This field is required
        </span>
        <span *ngIf="passwordCtrl?.getError('minlength')">
          Min length error
        </span>
      </span> -->
      <!-- {{ formLogin.get("password")?.errors | json }} -->
    </div>

    <!--Confirm password-->
    <div>
      <!-- <label>Confirm Password</label>
      <input
        style="padding: 10px"
        formControlName="confirmpassword"
        type="text"
      /> -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmpassword"
          placeholder="Confirm Password"
        />
        <mat-error>
          <span *ngIf="passwordCtrl?.getError('required')">
            This field is required
          </span>

          <span class="error-span" *ngIf="formLogin.hasError('notMatched')">
            Password does not match
          </span>
        </mat-error>
      </mat-form-field>

      <!-- <span
        class="error-span"
        *ngIf="confirmPasswordCtrl?.invalid && confirmPasswordCtrl?.touched"
      >
        <span *ngIf="confirmPasswordCtrl?.errors?.['required']">
          This field is required
        </span>
      </span> -->
    </div>
    <!--Confirm password //-->

    <!--Address-->
    <fieldset>
      <legend>Address</legend>
      <div formGroupName="address">
        <div class="row">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Address Line 1</mat-label>
            <input
              matInput
              style="padding: 10px"
              formControlName="addressline1"
              type="text"
            />
            <mat-error> This field is required </mat-error>
          </mat-form-field>

          <!-- <label>Address Line 1</label>
          <input
            style="padding: 10px"
            formControlName="addressline1"
            type="text"
          />
          <span
            class="error-span"
            *ngIf="formLogin.get('address.addressline1')?.hasError('required')"
          >
            This field is required
          </span> -->
        </div>
        <div class="row">
          <!-- <label>Address Line 2</label>
          <input
            style="padding: 10px"
            formControlName="addressline2"
            type="text"
          /> -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Address Line 2</mat-label>
            <input
              matInput
              style="padding: 10px"
              formControlName="addressline2"
              type="text"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city" />
            <mat-error>This field is mandatory</mat-error>
          </mat-form-field>
          <!-- <label>City</label>
          <input style="padding: 10px" formControlName="city" type="text" />
          <span
            class="error-span"
            *ngIf="formLogin.get('address.city')?.hasError('required')"
          >
            This field is required
          </span> -->
        </div>
        <div class="row">
          <!-- <label>Postal Code</label>
          <input
            style="padding: 10px"
            formControlName="postalcode"
            type="text"
          /> -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput type="text" formControlName="postalcode" />
          </mat-form-field>
        </div>
      </div>
    </fieldset>
    <!--Address //-->

    <div style="margin-top: 10px">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <mat-select formControlName="food">
          <mat-option [value]="food.value" *ngFor="let food of foods">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error> This field is required </mat-error>
      </mat-form-field>
    </div>

    <div style="margin-top: 10px">
      <mat-radio-group formControlName="option" aria-label="Select an option">
        <mat-radio-button [value]="food.value" *ngFor="let food of foods">{{
          food.viewValue
        }}</mat-radio-button>
        <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
      </mat-radio-group>
    </div>

    <div style="margin-top: 10px">
      <mat-slider class="example-full-width">
        <input matSliderThumb formControlName="slider" />
      </mat-slider>
    </div>
    <mat-divider></mat-divider>

    <div>
      <button
        class="submit-bttn"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formLogin.invalid"
      >
        Submit
      </button>

      <!-- <button class="submit-bttn" type="submit" [disabled]="formLogin.invalid">
        Submit
      </button> -->
    </div>
    <!-- {{ formLogin.value | json }}<br />
    Form is Valid : {{ formLogin.valid }} -->
  </form>
</div>
