
.wrapper{
    border:  5px solid #ddd;
    margin: 100px auto;
    padding: 30px;
    width: 50%;
}
.error-span{
    color: red;
}

.submit-bttn{
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
   // float:right;
    clear: both;
   // background-color: red;
    //color: #fff;
}
.example-full-width{
    width: 100%;
}