
.wrapper{
    border:  5px solid #ddd;
    margin: 100px auto;
    padding: 30px;
    width: 50%;
}
.error-span{
    color: red;
}

.submit-bttn{
    padding: 10px;
    font-size: 20px;
   // background-color: red;
    //color: #fff;
}